@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: shabnam;
    src: url("/public/fonts/shabnam/Shabnam-Light.woff");
  }

  @font-face {
    font-family: shabnamMedium;
    src: url("/fonts/shabnam/Shabnam-Medium.woff");
  }

  @font-face {
    font-family: shabnamBold;
    src: url("/fonts/shabnam/Shabnam-Bold.woff");
  }

  @font-face {
    font-family: dana;
    src: url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2");
  }

  @font-face {
    font-family: danaBold;
    src: url("/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
  }

  @font-face {
    font-family: danaMedium;
    src: url("/fonts/Dana/woff2/DanaFaNum-Medium.woff2");
  }

  @font-face {
    font-family: morabba;
    src: url("/fonts/Morabba/woff2/Morabba-Light.woff2");
  }

  @font-face {
    font-family: morabbaBold;
    src: url("/fonts/Morabba/woff2/Morabba-Bold.woff2");
  }

  @font-face {
    font-family: morabbaMedium;
    src: url("/fonts/Morabba/woff2/Morabba-Medium.woff2");
  }



}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .section-title {
    @apply inline-flex items-center text-primary text-2xl font-morabbaBold;
  }

  .section-button{
    @apply flex-center text-sm font-medium bg-primary text-white rounded-xl py-2 px-3 md:px-4 h-10 text-nowrap;
  }

  .section-button-secondary{
    @apply flex-center text-sm font-medium text-primary border border-primary rounded-xl py-2 px-3 md:px-4 h-10 text-nowrap;
  }


  .direction-ltr {
    direction: ltr;
  }

  .direction-rtl {
    direction: rtl;
  }

  .section-title {
    @apply text-primary font-danaBold text-xl lg:text-2xl;
  }

  /* ============================= swiper ============================= */
  .swiper {
    width: 100% !important;
    height: 100% !important;
  }

  .swiper-slide {
    text-align: center !important;
    font-size: 18px !important;

    /* Center slide text vertically */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .swiper-slide img {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }

  .swiper-slide {
    width: 80% !important;
  }

  .swiper-slide:nth-child(2n) {
    width: 60% !important;
  }

  .swiper-slide:nth-child(3n) {
    width: 40% !important;
  }


  /* swiper */

  .mySwiper .swiper-button-prev:after,
  .mySwiper .swiper-button-next:after,
  .mySwiper .swiper-button-disabled {
    font-size: 26px !important;
    color: #070707 !important;
    font-weight: 1000;
  }

  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-disabled {
    opacity: 0 !important;
  }


  .home-slider .swiper-button-prev:after,
  .home-slider .swiper-button-next:after {
    font-size: 14px !important;
    color: #070707 !important;
    font-weight: 1000;
  }

  .home-slider img {
    position: relative;
    right: 1px;
  }


  .gallery-slider .swiper-button-prev:after,
  .gallery-slider .swiper-button-next:after {
    font-size: 26px !important;
    color: #070707 !important;
    font-weight: 1000;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-slider-2 {
    box-sizing: border-box;
    padding: 10px 0;
  }

  .gallery-slider-2 .swiper-slide {
    opacity: 0.4;
  }

  .gallery-slider-2 .swiper-slide-thumb-active {
    opacity: 1;
  }

  .articles_slider .swiper-button-prev,
  .articles_slider .swiper-button-next {
    opacity: 0;
  }

  .articles_slider:hover .swiper-button-prev,
  .articles_slider:hover .swiper-button-next {
    opacity: 1;
    transition: transform 0.7s ease, opacity 0.7s ease;
  }


  /* ==================== inputs registe login  p-user ==================== */

  .wrapper-input {
    @apply relative z-0 w-full;
  }

  .input-first-icon {
    @apply absolute top-3.5 right-4 text-gray-plus-600;
  }

  .input-second-icon {
    @apply absolute top-3.5 left-4 text-gray-plus-600 cursor-pointer;
  }

  .section-input {

    @apply block w-full text-right pt-[5px] text-gray-plus-900 border bg-transparent border-gray-plus-500 h-12 px-11 rounded-xl outline-none transition duration-200;

  }

  .wrapper-input .section-input:focus~.input-first-icon ,
  .wrapper-input .section-input:focus~.input-second-icon {
    @apply text-primary;
  }

  .section-input:focus {

    @apply border-primary;

  }

  .section-input-lable::before {

    content: attr(title);

    @apply absolute -z-10 text-sm sm:text-base transition-all duration-200 right-11 top-3.5 text-gray-plus-600;

  }

  .section-input:not(:placeholder-shown)+.section-input-lable::before,
  .section-input:focus+.section-input-lable::before {

    @apply  z-0  right-5 -top-3 bg-white px-1 text-primary;


  }


  /* index section landing */

  /* .landing-banner{
    background:linear-gradient(rgba(65, 127, 86, 0.66),rgba(65, 127, 86, 0.66)) ,url('./../../public/images/Vector.png') ;
  } */






}


/* .swiper-button-next , .swiper-button-prev{
  background-color: green !important;
  width: 22px !important;
  height: 30px !important;
  position: absolute !important;
  left: 0 !important;
  top: 50% !important;
} */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
} */